/* Title */
.title-list {
  width: 100%x;
  background-color: rgb(60, 60, 60);
  color: rgb(255, 255, 255);
}

.title-list h1 {
  margin-top: 0;
  padding: 0.7% 0% 0.7% 0%;
}

/* Table */
.table-list {
  background-color: rgb(255, 255, 255);
  border: 0.8px solid rgb(220, 220, 220);
  table-layout: fixed;
  width: 730px;
  margin-left: 10px;
  margin-right: 10px;
  border-collapse: collapse;
}

@media (min-width: 750px) {
  .table-list {
    width: auto;
  }
}

@media (min-width: 900px) {
  .table-list {
    width: 880px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Table Header */
th {
  padding: 4px;
  background-color: rgb(242, 242, 242);
}
th button {
  background-color: rgb(250, 250, 250);
  color: rgb(80, 80, 80);
  margin: 1px;
}

.LastColumn {
  width: 60px;
}

.search-icon {
  font-size: 200%;
  padding-top: 13%;
  padding-left: 15%;
}

/* Table Childs */
td,
th {
  border-bottom: 1px solid rgb(200, 200, 200);
  text-align: center;
}

td {
  padding: 4px 12px 4px 12px;
}

td button {
  margin: 4px;
  padding: 8px 0px 5px 0px;
}

td button:hover {
  border-radius: 15%;
}

tr:nth-child(even) {
  background-color: rgb(246, 246, 246);
}

/* Buttons */
button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: auto;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button-sort {
  width: 100%;
}
.button-sort:hover {
  background: rgb(240, 240, 240);
}

.button-secondary {
  background: rgb(66, 184, 221) !important; /* this is a light blue */
  color: white;
}

.button-tertiary {
  background: rgb(28, 124, 155) !important; /* this is a turquoise */
  color: white;
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}
.button-success:hover {
  background: rgb(45, 205, 85); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}
.button-error:hover {
  background: rgb(222, 80, 80); /* this is a maroon */
}

.button-edit {
  background: rgb(66, 184, 221); /* this is a light blue */
}
.button-edit:hover {
  background: rgb(86, 204, 241); /* this is a light blue */
}

/* Input */
.input {
  width: 100%;
  font-size: 16px;
  padding: 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
